logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID

/.vscode
bin/
/db
.eclipse
/lib/
/logs/
/modules
/node_modules/
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.eml

.cache
/gatling/
/test*
sbt-dist/
*ensime*